@import 'variables';

h1,
h5 {
  text-shadow: 1px 2px 3px $violet !important;
  font-family: "Pattaya" !important;
  margin-top: 1rem;
}

.card-title {
  text-align: center;
}

.card-img-top:hover {
  transform: scale(1.5);
  transition: transform 3s;
}

.img-parking {
  max-width:80px!important;
}

.p_sponsor {
  font-family: "Roboto" !important;
  margin-top: 1rem;
}

.p_index,
.p_about {
  @extend .p_sponsor;
  background-color: $grey;
  padding: 1rem;
  min-height:350px;
}

#card-sponsor {
  width: 100%;
  height: 99%;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: $grey;
}

.div-card,
.div-contact-us-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.modal-header {
  background-color: $grey;
}

@media (min-width: 350px) and (max-width: 450px) {
  #modal-img {
    width: 310px;
    height: 260px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 19rem;
  }

  #card-info-id {
    width: 320px;
  }

  #card-trivia-id {
    width: 320px;
    height: 350px;
  }

  #google-map-id {
    width: 320px;
  }
}

@media (min-width: 450px) and (max-width: 540px) {
  #modal-img {
    width: 445px;
    height:300px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 25rem;
  }

  #card-info-id {
    width: 400px;
  }

  #card-trivia-id {
    width: 400px;
    height: 300px;
  }

  #google-map-id {
    width: 250px;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  #modal-img {
    width: 460px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 17rem;
  }

  #card-info-id {
    width: 230px;
  }

  #card-trivia-id {
    width: 260px;
    height: 370px;
  }

  #google-map-id {
    width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-item {
    &:hover {
      transform: scale(1.2);
    }
  }

  #modal-dialog-id {
    max-width: 620px!important;
  }

  #modal-img {
    width: 580px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 15rem;
  }

  #card-info-id {
    width: 220px;
  }

  #card-trivia-id {
    width: 230px;
    height: 415px;
  }

  #google-map-id {
    width: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .nav-item {
    &:hover {
      transform: scale(1.2);
    }
  }

  #modal-dialog-id {
    max-width: 700px!important;
  }

  #modal-img {
    width: 660px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 18rem;
  }

  #card-info-id {
    width: 300px;
  }

  #card-trivia-id {
    width: 315px;
    height: 370px;
  }

  #google-map-id {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .nav-item {
    &:hover {
      transform: scale(1.2);
    }
  }

  #modal-dialog-id {
    max-width: 700px!important;
  }

  #modal-img {
    width: 660px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 24rem;
  }

  #card-info-id {
    width: 340px;
  }

  #card-trivia-id {
    width: 270px;
    height: 350px;
  }

  #google-map-id {
    width: 570px;
  }
}

@media (min-width: 1350px) {
  .nav-item {
    &:hover {
      transform: scale(1.2);
    }
  }

  #modal-dialog-id {
    max-width: 700px!important;
  }

  #modal-img {
    width: 660px;
    object-fit: cover;
  }

  .img_galery,
  .video {
    width: 28rem;
  }

  #card-info-id {
    width: 350px;
  }

  #card-trivia-id {
    width: 375px;
    height: 350px;
  }

  #google-map-id {
    width: 650px;
  }
}